<h2>Pagina de estadisticas</h2>

<p>Numero de preguntas: <%= quizes %></p>

<p>Numero de comentarios totales: <%= comments %></p>

<p>Numero medio de comentarios por pregunta: <%= comments/quizes %></p>

<% var noCommentedQuizes = quizes - commentedQuizes %>

<p>Numero de preguntas sin comentarios: <%= noCommentedQuizes %></p>

<p>Numero de preguntas con comentarios: <%= commentedQuizes %></p>